In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
import seaborn as sns
sns.set_style("whitegrid")
# Bigger font
# sns.set_context("poster")
sns.set_context("talk")
# Figure size
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 10, 4
# np.random.seed(123)

In [2]:
items  = pd.read_csv('data/items.csv')
train = pd.read_csv('data/sales_train.csv.gz')
test = pd.read_csv('data/test.csv.gz')
item_category = pd.read_csv('data/item_categories.csv')
shops = pd.read_csv('data/shops.csv')

In [3]:
train['date'] = pd.to_datetime(train['date'], format='%d.%m.%Y')

## Duplicate data

Here is some simple pre-processing for now.

In [4]:
def drop_duplicate(data, subset):
    print('Before drop shape:', data.shape)
    before = data.shape[0]
    data.drop_duplicates(subset,keep='first', inplace=True) #subset is list where you have to put all column for duplicate check
    data.reset_index(drop=True, inplace=True)
    print('After drop shape:', data.shape)
    after = data.shape[0]
    print('Total Duplicate:', before-after)

In [5]:
# Drop Duplicate Data
subset = ['date', 'date_block_num', 'shop_id', 'item_id','item_cnt_day']
drop_duplicate(train, subset = subset)

Before drop shape: (2935849, 6)
After drop shape: (2935825, 6)
Total Duplicate: 24

Now, a way to have a model that considers all the patterns would have at least the features:

- item_id
- shop_id
- date_block_num
- item_cnt_day

But because we want the predicted sells in a month, which is November 2015, we can make a table that has the feature or column "number of products sold" for each month.

And the target can be one of those columns.

## Pivot table by month

In [6]:
## Pivot by monht to wide format
p_df = train.pivot_table(index=['shop_id','item_id'],
                         columns='date_block_num',
                         values='item_cnt_day',
                         aggfunc='sum').fillna(0.0)
p_df.head()

date_block_num    0     1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33
shop_id item_id
0       30       0.0  31.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
        31       0.0  11.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
        32       6.0  10.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
        33       3.0   3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
        35       1.0  14.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

This turns the pivot table back into a dataframe

In [7]:
train_cleaned_df = p_df.reset_index()
train_cleaned_df.head()

date_block_num  shop_id  item_id    0     1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33
0                     0       30  0.0  31.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1                     0       31  0.0  11.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2                     0       32  6.0  10.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3                     0       33  3.0   3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4                     0       35  1.0  14.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [8]:
train_cleaned_df.head()

date_block_num  shop_id  item_id    0     1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33
0                     0       30  0.0  31.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1                     0       31  0.0  11.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2                     0       32  6.0  10.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3                     0       33  3.0   3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4                     0       35  1.0  14.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

This is because in order to do merging the key has to be the same type

In [9]:
train_cleaned_df['item_id']= train_cleaned_df.item_id.astype('int64')
train_cleaned_df['shop_id']= train_cleaned_df.shop_id.astype('int64')

In [10]:
item_to_cat_df = items.merge(item_category,
                             how="inner",
                             on="item_category_id")[['item_id', 'item_category_id']]
item_to_cat_df.head()

   item_id  item_category_id
0        0                40
1        2                40
2        3                40
3        4                40
4        5                40

In [11]:
train_cleaned_df = train_cleaned_df.merge(item_to_cat_df, how="inner", on="item_id")

In [12]:
train_cleaned_df.head()

   shop_id  item_id    0     1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33  item_category_id
0        0       30  0.0  31.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0                40
1        1       30  0.0  10.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0                40
2        2       30  0.0   0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0                40
3        3       30  0.0   4.0  5.0  2.0  2.0  1.0  0.0  0.0  0.0  1.0  1.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0                40
4        4       30  0.0   7.0  3.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0                40

## XGBoost Model

In [13]:
import xgboost as xgb
param = {'max_depth':10, 
         'subsample':1,
         'min_child_weight':0.5,
         'eta':0.3, 
         'num_round':1000, 
         'seed':1,
         'silent':0,
         'eval_metric':'rmse'}

In [14]:
train_cleaned_df.columns

Index(['shop_id', 'item_id', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 'item_category_id'], dtype='object')

Here I consider the last month, which is Octobre 2015, as the target. But we want to predict the target for November 2015.

In [18]:
xgbtrain = xgb.DMatrix(train_cleaned_df.iloc[:, train_cleaned_df.columns != 33].values,
                       train_cleaned_df.iloc[:, train_cleaned_df.columns == 33].values)
model = xgb.train(param, xgbtrain)

In [19]:
preds = model.predict(xgb.DMatrix(train_cleaned_df.iloc[:,  (train_cleaned_df.columns != 33)].values))
from sklearn.metrics import mean_squared_error 
rmse = np.sqrt(mean_squared_error(preds,train_cleaned_df.iloc[:, train_cleaned_df.columns == 33].values))
print(rmse)

1.2495765996781012

In [20]:
test['shop_id']= test.shop_id.astype('int64')
test['item_id']= test.item_id.astype('int64')

test = test.merge(train_cleaned_df, how = "left", on = ["shop_id", "item_id"]).fillna(0.0)
test.head()

   ID  shop_id  item_id    0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33  item_category_id
0   0        5     5037  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  2.0  2.0  0.0  0.0  0.0  1.0  1.0  1.0  3.0  1.0  0.0              19.0
1   1        5     5320  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0               0.0
2   2        5     5233  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  3.0  2.0  0.0  1.0  3.0  1.0              19.0
3   3        5     5232  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0              23.0
4   4        5     5268  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0               0.0

Here I predict the target for the test set.

I only used the last month 33 as a target, now it won't be taken into account, so instead of predicting October, it will predict November.

In [23]:
xgbtest = xgb.DMatrix(test.iloc[:, (test.columns != 'ID') & (test.columns != 33)].values)

In [24]:
preds = model.predict(xgbtest)

In [26]:
output = pd.DataFrame({'ID':test.ID,'item_cnt_month': preds })
output.describe()

                  ID  item_cnt_month
count  214200.000000   214200.000000
mean   107099.500000        0.300099
std     61834.358168        4.483291
min         0.000000       -0.090380
25%     53549.750000        0.109823
50%    107099.500000        0.183396
75%    160649.250000        0.203650
max    214199.000000     1809.540405

This is done because it clearly says that the "True target values are clipped into [0,20] range."

In [27]:
preds = list(map(lambda x: min(20,max(x,0)), list(preds)))
output = pd.DataFrame({'ID':test.ID,'item_cnt_month': preds })
output.describe()

                  ID  item_cnt_month
count  214200.000000   214200.000000
mean   107099.500000        0.274973
std     61834.358168        0.682610
min         0.000000        0.000000
25%     53549.750000        0.109823
50%    107099.500000        0.183396
75%    160649.250000        0.203650
max    214199.000000       20.000000

In [28]:
output.to_csv('output/output.csv',index=False)

And this gave me a public score of 1.05978 and took me to the 392nd position, yet I will try the approach from the course.